# visual studio 
.vs/
.vc

# api dependencies
server/vendor

# client dependencies
client/EZ-Inventory/packages

# build artifacts
*bin/
*obj/
index.yaml
.gcloudignore

# logging
*.log

# misc
.DS_Store
.gitattributes
